@media (prefers-color-scheme: dark) {
    :root {
        --main-theme: #131313;
        --main-color: orange;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --main-theme: orange;
        --main-color: #131313;
    }
}